{% extends "base.html" %}

{% block title %}about{% endblock %}

{% block main %}
<img src="{{ url_for('static', filename='logo.png') }}" height="200px" alt="canon_law logo">
<h1>about</h1>
<p>
    canonlaw.vypr.xyz is a open-source endeavor by <a href="https://vypr.xyz">Elliott Pardee</a> to provide a way to reference canon law quickly.

    <br><br>

    <h3>Personnel</h3>
    <h6 style="margin-top: -10px;">(Title: Name, Jurisdiction - Email)</h6>
    Project Lead: Elliott Pardee, OCA - <a href="mailto:me@vypr.xyz">me@vypr.xyz</a>

    <br><br>

    <h3>Technology</h3>
    canonlaw.vypr.xyz is developed and ran on Python 3.7.0 using the Flask web framework. It utilizes TinyDB as a
    database library and a few custom extensions for things like logging. The source code for canonlaw.vypr.xyz can be
    found <a href="https://github.com/vypr/canon_law">here</a>. The source code, like most of my
    open-source projects, is freely available under the GPLv3.

    <h3>Sources</h3>
    canonlaw.vypr.xyz utilizes an English translation of The Rudder (Pedalion) by Hieromonk Agapios and Monk
    Nicodemos, translated by Ralph J. Masterjohn (may his memory be eternal) and The Orthodox Christian Educational
    Society. Copyright &copy; 2005 Ralph J. Masterjohn and The Orthodox Christian Educational Society.
</p>
{% endblock %}