{% extends "base.html" %}

{% block title %}about{% endblock %}

{% block main %}
<img src="{{ url_for('static', filename='logo.png') }}" height="200px" alt="canon_law logo">
<h1>about</h1>
<p>
    canonlaw@oikonomia is a open-source endeavor by <a href="https://oikonomia.xyz">Oikonomia, an Orthodox Christian
    community</a> to provide a way to reference canon law quickly.

    <br><br>

    <h3>Personnel</h3>

    <table>
        <tr>
            <th>role</th>
            <th>name</th>
            <th>jurisdiction</th>
            <th>email</th>
        </tr>
        <tr>
            <td>project lead</td>
            <td><a href="https://vypr.xyz">Seraphim</a></td>
            <td>OCA / Bulgarian Diocese</td>
            <td><a href="mailto:vypr@oikonomia.xyz">click</a></td>
        </tr>
    </table>

    <br><br>

    <h3>Technology</h3>
    canonlaw@oikonomia is developed and ran on Python 3.7.0 using the Flask web framework. It utilizes TinyDB as a
    database library and a few custom extensions for things like logging. The source code for canonlaw@oikonomia can be
    found <a href="https://github.com/Oikonomia/canon_law">here</a>. The source code, like most of Oikonomia's
    open-source projects, is freely available under the GPLv3.

    <h3>Sources</h3>
    canonlaw@oikonomia utilizes an English translation of The Rudder (Pedalion) by Hieromonk Agapios and Monk
    Nicodemos, translated by Ralph J. Masterjohn (may his memory be eternal) and The Orthodox Christian Educational
    Society. Copyright &copy; 2005 Ralph J. Masterjohn and The Orthodox Christian Educational Society.
</p>
{% endblock %}