{% extends "base.html" %}

{% block title %}disclaimer{% endblock %}

{% block main %}
<img src="{{ url_for('static', filename='logo.png') }}" height="200px" alt="canon_law logo">
<h1>disclaimer</h1>
<p>
    canonlaw@oikonomia is not officially endorsed by any canonical Orthodox body or member of clergy and is not meant
    to be a substitute for official canon law sources.

    <br><br>

    Oikonomia does not endorse using this website or the API to criticize others, and Oikonomia especially does not
    endorse using this website to criticize clergy. If you have a concern with your priest or bishop or any other
    member of clergy, contact the appropriate parties (such as your bishop or other bishops).

    <br><br>

    If you have questions, concerns, or feedback about this website or would simply like to contact us, email <a href="mailto:me@srp.life?subject=canonlaw@oikonomia">me@srp.life</a>
    with the subject "canonlaw@oikonomia." Your email will be answered promptly.
</p>
{% endblock %}