<!DOCTYPE html>
<html>

<!--

Well, aren't you inquisitive?

If code's your thing, consider helping me out on GitHub: https://github.com/vypr/canon_law

There's a little easter egg in the website. Here's a riddle on how to find it:
Sometimes a man must look for nothing to find everything.

-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{% endblock %} - canonlaw.vypr.xyz</title>

    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}" />
    <!--<script src="main.js"></script>-->
</head>

<body>
    <header>
        <h1><a href="{{ url_for('frontend.index') }}">canonlaw.vypr.xyz</a></h1>
        <ul>
            <li><a href="{{ url_for('frontend.index') }}">home</a></li>
            <li><a href="{{ url_for('frontend.council', council='apostles') }}">canons of the apostles</a></li>
            <li class="dropdown">
                <a class="dropbtn">ecumenical councils</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('frontend.council', council='1nicea') }}">first council of nicea (325)</a>
                    <a href="{{ url_for('frontend.council', council='1const') }}">first council of constantinople (381)</a>
                    <a href="{{ url_for('frontend.council', council='ephesus') }}">council of ephesus (431)</a>
                    <a href="{{ url_for('frontend.council', council='chalcedon') }}">council of chalcedon (451)</a>
                    <a href="{{ url_for('frontend.council', council='2const') }}">second council of constantinople (553)</a>
                    <a href="{{ url_for('frontend.council', council='3const') }}">third council of constantinople (680-681)</a>
                    <a href="#">council of trullo (quinisext) (692)</a>
                    <a href="#">second council of nicea (787)</a>
                    <a href="#" class="separator">
                        <hr>
                    </a>
                    <a href="#">fourth council of constantinople (879-880)</a>
                    <a href="#">fifth council of constantinople (1341-1351)</a>
                </div>
            </li>
            <li><a href="#">local councils</a></li>
            <li><a href="#">church fathers</a></li>
            <li><a href="{{ url_for('api.index') }}">api</a></li>
            <li style="float: right;">
                <form role="search" method="POST" action="{{ url_for('frontend.search') }}">
                    <input type="search" id="canon-search" name="query" placeholder="search query">
                    <button>search</button>
                </form>
            </li>
        </ul>
    </header>

    <div class="main">
        {% block main %}{% endblock %}
    </div>

    <footer>
        canonlaw.vypr.xyz is made with ❤️ by <a href="https://vypr.xyz">Elliott Pardee</a>.
        <br>
        <a href="{{ url_for('frontend.about') }}">about</a> &middot; <a href="{{ url_for('frontend.disclaimer') }}">disclaimer</a> &middot; <a href="https://github.com/Oikonomia/canon_law">source code</a> &middot; <a href="#">additional resources</a>
    </footer>
</body>

</html>