{% extends "base.html" %}

{% block title %}disclaimer{% endblock %}

{% block main %}
<img src="{{ url_for('static', filename='logo.png') }}" height="200px">
<h1>disclaimer</h1>
<p>
    canonlaw.vypr.xyz is not officially endorsed by any canonical Orthodox body or member of clergy and is not meant
    to be a substitute for official canon law sources.

    <br><br>

    canonlaw.vypr.xyz does not endorse using this website or the API to criticize others, and especially does not
    endorse using this website to criticize clergy. If you have a concern with your priest or bishop or any other
    member of clergy, contact the appropriate parties (such as your bishop, archbishop, or metropolitan).

    <br><br>

    If you have questions, concerns, or feedback about this website or would simply like to contact us, email <a href="mailto:me@vypr.xyz?subject=canonlaw - ">me@vypr.xyz</a>
    with the subject prefixed with "canonlaw -". Your email will be answered promptly.
</p>
{% endblock %}